.container{
    border: 1px solid green;
    height: 500px;
}
.text{
    /* margin-left: 215px; */
}
.form-control{
    margin-left: 215px;
}
.logo img{
    margin-left: 90px;
}
.addmail input{
    margin-right: 30px;
}
