.container{
    /* border: 1px solid #000; */
    margin-top: 3%;
       
}
i{
  font-size: 35px;
      
}
h1{
    text-align: center;
}
p{
    /* text-align: center; */
    text-align: justify;
    margin-left: 20%;
    margin-right: 10%;
}
:root{
    --couleurPrincipale:#32438A;
}
.active{
    color: white;
}
.navbar-toggler{
    color: white;
    background-color: aliceblue;
}
.nav-link:hover{
    color: aqua;
}
body{
    display: grid;
    grid-template-rows:auto auto auto ;
}
main{
    margin-top: 60px;
}
footer{
    background-color: #F5F8FA;
    border-top: 3px solid #E5E9EE;
}
h4{
    font-weight: 400;
}
.abonnement{
    background-color: var(--couleurPrincipale);
    border: none;
}
