.title {
    text-align: center;
 
}
.active{
    color: white;
    background-color: blue;
}
/* body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
} */
