body{
    /* font-family: "poppins"; */
}
.list-left{
    width: 30%;
}
h5{
    font-weight: bold;
}
.list-group-item{
    font-size: 13px;
}
/* .contain{
    width: 70%;
} */
.font{
    font-weight: 300;
}
.sublist{

}
.container-fluid{
    width: 100%;
    margin:0;

}
.btn-return{
    width: 30%;
}