
.form-control{
  height: 50px;
  width: 50px; 
  margin-left: 120px;
  
}
.text span{
  display: block;
  justify-content: center;
}
.textend span{
    font-weight: bold;
}
.textend{
  background-color: #f5f5f5;
  height: 100px;
  padding: 10px 10px;
  margin: 20px 20px;
}
.end{
  border-top: 1px solid grey;
  background-color: white;
  height: 150px;
}
.logo img{
  margin-left: 60px;
}
.form-check{
  margin-left:130px;
  display: flex;
}
.boutton{
  margin-left: 70px;
}